<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><meta name="viewport" content="initial-scale=1, width=device-width">
  <meta name="robots" content="noindex, nofollow">
  <title>Net Central - Login</title>
</head>
<body>
<style>
body {
    margin: 0px;
    background: #2559a7;
    color: #ddd;
  }

.navbar {
  overflow: hidden;
  background-color: #2559a7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  background-color: #2559a7;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  letter-spacing: -0.0025em;
  place-items: center;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}


.block {
  display: block;
  border: 1px;
  background: #033684;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background: #ddd;
  color: black;
}


/* Main content */
.main {
  margin-top: 60px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  /* font-size: clamp(1rem, 2.5vw, 2rem); */
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.0025em;
  line-height: 1.4;
  min-height: 100vh;
  /* place-items: center; */
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50%  50%;
  margin: 20px;
  gap: 20px;
}


.line {
  margin : 20px;
}
    .main a {
        color: #ddd;
    }


</style>

<script>
</script>

<div>
<div class="navbar">
    <a href="/">Welcome</a>
    <a href="/nets">Active Nets</a>
    <a href="/callsigns">Callsigns</a>
    <a href="/stations">Stations</a>
    <a href="/infras">Infrastructure</a>
    <a href="/objects">Objects</a>
    <a href="/weathers">Weather</a>
    <a href="/users">Users</a>
    <a href="/transceivers">Transceivers</a>
    <a href="/activities">Activity Log</a>
    <a href="/archives">Archives</a>
    {{#if token}}
    <a href="/profile">Profile</a>
    <a href="/logoutUser">Logout - {{friendlyName}}</a>
    {{else}}
    <a href="/loginUser"><b>Login</b></a>
    {{/if}}
</div>

<div class="main">
  <div class="line"><hr/></div>
  <div style="margin:20px;">
    <h1>Login to Net Central</h1>
  </div>
  <div class="line"><hr/></div>
  <div style="margin:20px;">
    <h2>Registered users</h2>
    <br>If you have previously registered with Net Central, provide your Net Central username (email address) and password to login below.
  </div>
  <div style="margin:20px;">
    <form action="/login-action" method="post">
      <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" name="username" value="" id="username" min="1" class="form-control" required="required"/>
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" name="password" value="" id="password" min="1" class="form-control" required="required"/>
      </div>
      <div>
        <input type="submit" value="Login" class="btn btn-primary block"/>
      </div>
    </form>
  </div>

  <div class="line"><hr/></div>
  <div style="margin:20px;">
    <h2>Not yet registered?</h2>
    <br>If you wish to register for access, click <a href="/register">here</a>.
    <div><hr/></div>
    <a href="/">Return to welcome page</a>
  </div>
</div>

</div>

</body>
</html>