<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><meta name="viewport" content="initial-scale=1, width=device-width">
  <meta name="robots" content="noindex, nofollow">
  <title>Kenwood Transceiver - Welcome</title>
</head>
<body>
<style>

body {
    margin: 0px;
    background: #2559a7;
    color: #ddd;
  }

.navbar {
  overflow: hidden;
  background-color: #2559a7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  background-color: #2559a7;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  letter-spacing: -0.0025em;
  place-items: center;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 60px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  /* font-size: clamp(1rem, 2.5vw, 2rem); */
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.0025em;
  line-height: 1.4;
  min-height: 100vh;
  /* place-items: center; */
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50%  50%;
  margin: 20px;
  gap: 20px;
}
.grid-item {
}

.line {
  margin : 20px;
}

    .main a {
        color: #ddd;
    }

</style>

<script>
</script>

<div>
  <div class="navbar">
    <a href="/"><b>Welcome</b></a>
    <a href="/register">Register with Net Central server</a>
  </div>
  <div class="main">
    <div><hr/></div>
    <div style="margin:20px;">
      <h1>Welcome to the Kenwood transceiver for Net Central !</h1>
      <br>Net Central is a tool for managing formal and informal APRS nets.
    </div>
  </div>
</div>

</body>
</html>